*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}
.main {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}
.main .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.main .form {
    width: 50%;
    padding: 30px;
    background-color: white;
    transition: margin-left 0.18 ease;
}

.main.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.main .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.main.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.main.active .forms {
    height: 600px;
}

.main .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color:pink;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    pad: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color:pink;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: pink;
}
.form-text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: pink;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: pink;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: pink;
}
.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

#productdiv{
    height: 450px;
}
.overlay-right{
    margin-top: 15px;
}

